@font-face {
    font-family: 'Permanent Marker';
    src: url('./fonts/PermanentMarker-Regular.ttf') format('truetype');
  }
  
  h1 {
    font-family: 'Permanent Marker', cursive;
    color: #8E5913;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  
  .logo {
    max-height: 45px;
    max-width: 45px;
  }

  .home {
    max-height: 35px;
    max-width: 35px;
  }
  
  .menu-bar {
    max-height: 50px;
    display: flex;
    align-items: center;
    background-color: #CCB56C;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  .gray {
    color: #8E5913;
}