.App {
  text-align: center;
}

.content-wrapper {
  flex: 1;
  padding-right: 300px; 
}

.home-content {
  display: flex;
  flex-direction: column;
}

.about {
  margin-top: 100px;
}

.contribute-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 0;
}

.centered-content {
  text-align: center;
}