.lateral-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #e1d4a8;
  z-index: 999;
  display: flex;
}

.content-container {
  text-align: center;
}

.social-icons {
  margin-top: 100px;
  margin-left: 85px;
}

.logo-lateral {
  max-height: 200px;
  max-width: 200px;
}